/*Created 2015-05-27 by Andy*/

@font-face {
	font-family: montserrat-regular;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Montserrat-Regular.ttf');
}
@font-face {
	font-family: lora-regular;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Lora-Regular.ttf');
}
@font-face {
	font-family: railway-regular;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Raleway-Regular.ttf');
}
@font-face {
	font-family: lora-italic;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Lora-Italic.ttf');
}
@font-face {
	font-family: railway-medium;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Raleway-Medium.ttf');
}
@font-face {
	font-family: railway-light;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Raleway-Light.ttf');
}

body{
    overflow-x:hidden;
    margin-left:0;
    margin-right:0;
}
footer{
    margin-top:91px;
}

h1 {
    
}

.header_link{
    font-family:montserrat-regular;
    color:#c7c8ca;
    letter-spacing:2px;
    text-transform:uppercase;
    font-size:14px;
    text-decoration:none;
    display:inline;
    margin-right:50px;
    vertical-align:middle;
}

.search_input{
    background:#c7c8ca;
    border:solid #c7c8ca;
    border-radius:50px;
    height:20px;
    color:white;
}
.search_icon{
    color:white;
    top:6px;
    right:10px;
    position:absolute;
}
.search_div, .header_social_icons{
    display:inline-block;
    margin-left:20px;
    position:relative;
}
.search-results{
    position:absolute;
    background:white;
    z-index:99999999;
}
.results_div{
    display:none;
}
.list-group{
    padding-left:15px;
    padding-right:15px;
}
.list-group li {
    list-style:none;
    width:285.417px;
}
.store_results_header{
    color:#4d4d4f;
}
.result_container{
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom: 1px solid #4d4d4f;
    color:#4d4d4f;
}

.list-group-item{
    text-decoration:none;
}
.menu_container{
    width:1193px;
    height:214.444px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.menu_items_container{
    position:relative;
}
.dd_submenu ul{
    background:white;
}
.search_social_div{
    float:right;
    margin-top:35px;
}
.header_icon{
    height:25px;
    vertical-align:middle;
}
.site_logo{
    vertical-align:bottom;
}
#logo_container{
    display:inline-block;
    width:30%;
    height:148.889px;
    margin-top:66px;
}

#left_image{
    height:547px; 
    width:1193px;
    position:absolute;
    left:-1193px;
    top:0;

}
#right_image{
    height:547px;
    width:1193px;
    position:absolute;
    right:-1193px;
    top:0;
}
#page_content{
    width:1193px;
    margin-left:auto;
    margin-right:auto;
    position:relative;

}
#main_container{
    position:relative;
    width:1193px;
    overflow:visible;
    margin-left:auto;
    margin-right:auto;
}
.main_menu{
    margin:0;
    display:block;
    position:absolute;
    right:0;
    top:-35px;
}
.main_menu li{
    list-style:none;
    display:inline-block;
    margin-left:40px;
    text-transform:uppercase;
    position:relative;
    cursor:pointer;
    color:#4d4d4f;
    
}
.dd_submenu{
    display:none;
    position:absolute;
    z-index:9999999999;
    left:-10px;
}
.dd_submenu ul{
    padding:0;
    width:180px;
    padding-top:10px;
    padding-bottom:10px;
}

.dd_submenu ul li {
    margin-left:0;
    display:block;
    margin-top:10px;
    margin-left:10px;
    cursor:pointer;
    color:#4d4d4f;
}

.dd_submenu ul li:hover{
    text-decoration:underline;
}
.footer_logo_div{
    width:100%;
    background:#f1f0ed;
}
.footer_logos{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.find_us_div{
    margin-top:95px;
    width:1143px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-left:25px;
    padding-right:25px;
    margin-bottom:95px;
}
.footer_site_logo{
    height:111px;
    width:220px;
    margin-top:45px;
}
.find_left_div{
    width:220px;
    display:inline-block;
    margin-right:67px;
    vertical-align:top;
}
.find_right_div{
    display:inline-block;
    width:850px;
}
.footer_bottom_div{
    width:100%;
    background:#848585;
    padding-top:66px;
    padding-bottom:45px;
}
.footer_bottom_container{
    width:1143px;
    padding-left:25px;
    padding-right:25px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.footer_bottom_container a{
    color:white;
    text-decoration:none;
}
.footer_bottom_container a:hover{
    color:white;
    text-decoration:underline;
}
.today_hour_container{
    margin-right:145px;
    display:inline-block;
    color:white;
    vertical-align:top;
}
.newsletter_container{
    display:inline-block;
    color:white;
    vertical-align:top;
    margin-right:145px;
}
.bottom_social_container{
    display:inline-block;
    color:white;
    vertical-align:top;
}
.footer_icon{
    width:34px;
}
.bottom_social_container{}
.footer_title{
    margin-top:0;
    font-family:montserrat-regular;
    font-size:16px;
    text-transform:uppercase;
    margin-bottom:27px;
}

#fieldEmail{
    height:40px;
    width:330px;
    padding-left:20px;
    font-size:14px;
    background:#848585;
    border:1px solid white;
    margin-right:17px;
    margin-bottom:30px;
}
#news_submit{
    border:1px white solid;
    background:#848585;
    height:43px;
    color:white;
    width:100px;
    vertical-align:top;
}

.top_footer_text{
    font-family:lora-regular;
    color:#4d4d4f;
    font-size:16px;
}

.footer_h1{
    font-family:railway-regular;
    font-size:25pt;
    color:#4d4d4f;
    margin-top:0;
    margin-bottom:53px;
}
.footer_h2{
    font-family:montserrat-regular;
    font-size:16px;
    color:#4d4d4f;
    margin-top:0;
    margin-bottom:0;
}
.footer_text{
    margin:0;
    font-family:lora-regular;
}
.footer_last_container{
    font-family:lora-regular;
    color:#cfcdc4;
    text-align:center;
    background:#848585;
    font-size:7.5pt;
}
.main_image{
    position:relative;
}
/*home specific css*/
.missing_out_div{
    width:313px;
    height:63px;
    font-family:lora-regular;
    font-size:14px;
    color:white;
    background:#73b7aa;
    position:absolute;
    top:0;
    right:0;
}

.tab_container{
    
}
.tabs li, .tab_content li {
    list-style:none;
    display:inline-block;
}
.tabs{
    padding:0;
    background:#73b7aa;
    width:1092px;
}
.tabs li {
    font-family:montserrat-regular;
    font-size:16px;
    width:360px;
    height:71px;
    color:white;
    border-right:1px solid white;
    padding-top:5px;
}
.tab_content{
    padding:0;
}