/*Created 2015-05-27 by Andy*/


body{
    overflow-x:hidden;
}

h1 {
    
}

.menu_container{
    width:1193px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.menu_items_container{
    position:relative;
}
.search_social_div{
    float:right;
    margin-top:35px;
}
.site_logo{
    vertical-align:bottom;
}
#logo_container{
    display:inline-block;
    width:30%;
    margin-top:66px;
}

#left_image{
    height:547px; 
    width:1193px;
    position:absolute;
    left:-1193px;
    top:0;

}
#right_image{
    height:547px;
    width:1193px;
    position:absolute;
    right:-1193px;
    top:0;
}
#page_content{
    width:1193px;
    margin-left:auto;
    margin-right:auto;

}
#main_container{
    position:relative;
    width:1193px;
    overflow:visible;
    margin-left:auto;
    margin-right:auto;
}
.main_menu{
    margin:0;
    display:block;
    position:absolute;
    right:0;
    top:-35px;
}
.main_menu li{
    list-style:none;
    display:inline-block;
    margin-left:40px;
    text-transform:uppercase;
    position:relative;
    
}
.dd_submenu{
    display:none;
    position:absolute;
    z-index:9999999999;
}
.dd_submenu ul{
    padding:0;
    width:180px;
}

.dd_submenu ul li {
    margin-left:0;
    display:block;
}
.footer_logo_div{
    width:100%;
    background:#f1f0ed;
}
.footer_logos{
    margin-left:auto;
    margin-right:auto;
    display:block;
}