/*Created 2015-05-27 by Andy*/

@font-face {
	font-family: montserrat-regular;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Montserrat-Regular.ttf');
}
@font-face {
	font-family: lora-regular;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Lora-Regular.ttf');
}
@font-face {
	font-family: railway-regular;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Raleway-Regular.ttf');
}
@font-face {
	font-family: lora-italic;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Lora-Italic.ttf');
}
@font-face {
	font-family: railway-medium;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Raleway-Medium.ttf');
}
@font-face {
	font-family: railway-light;
	src: url('http://assets.kodekloud.io/sites/556628266e6f640eb3000000/a578c8b64c614c3eac576155beb18963/Raleway-Light.ttf');
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
}
body{
    overflow-x:hidden;
    margin-left:0;
    margin-right:0;
}
footer{
    margin-top:91px;
}

h1 {
    
}

.header_link{
    font-family:montserrat-regular;
    color:#c7c8ca;
    letter-spacing:2px;
    text-transform:uppercase;
    font-size:14px;
    text-decoration:none;
    display:inline;
    margin-right:50px;
    vertical-align:middle;
}

.search_input{
    background:#c7c8ca;
    border:solid #c7c8ca;
    border-radius:50px;
    height:20px;
    color:white;
}
.search_icon{
    color:white;
    top:6px;
    right:10px;
    position:absolute;
}
.search_div, .header_social_icons{
    display:inline-block;
    margin-left:20px;
    position:relative;
}
.search-results{
    position:absolute;
    background:white;
    z-index:99999999;
}
.results_div{
    display:none;
}
.list-group{
    padding-left:15px;
    padding-right:15px;
}
.list-group li {
    list-style:none;
    width:285.417px;
}
.store_results_header{
    color:#4d4d4f;
}
.result_container{
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom: 1px solid #4d4d4f;
    color:#4d4d4f;
}

.list-group-item{
    text-decoration:none;
}
.menu_container{
    width:1193px;
    height:214.444px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.menu_items_container{
    position:relative;
}
.dd_submenu ul{
    background:white;
}
.search_social_div{
    float:right;
    margin-top:35px;
}
.header_icon{
    height:25px;
    vertical-align:middle;
}
.site_logo{
    vertical-align:bottom;
}
#logo_container{
    display:inline-block;
    width:30%;
    height:148.889px;
    margin-top:66px;
}

#left_image{
    height:547px; 
    width:1193px;
    position:absolute;
    left:-1193px;
    top:0;

}
#right_image{
    height:547px;
    width:1193px;
    position:absolute;
    right:-1193px;
    top:0;
}
#page_content{
    width:1193px;
    margin-left:auto;
    margin-right:auto;
    position:relative;

}
#main_container{
    position:relative;
    width:1193px;
    overflow:visible;
    margin-left:auto;
    margin-right:auto;
}
.main_menu{
    margin:0;
    display:block;
    position:absolute;
    right:0;
    top:-35px;
}
.main_menu li{
    list-style:none;
    display:inline-block;
    margin-left:40px;
    text-transform:uppercase;
    position:relative;
    cursor:pointer;
    color:#4d4d4f;
    
}
.dd_submenu{
    display:none;
    position:absolute;
    z-index:9999999999;
    left:-10px;
}
.dd_submenu ul{
    padding:0;
    width:180px;
    padding-top:10px;
    padding-bottom:10px;
}

.dd_submenu ul li {
    margin-left:0;
    display:block;
    margin-top:10px;
    margin-left:10px;
    cursor:pointer;
    color:#4d4d4f;
}

.dd_submenu ul li:hover{
    text-decoration:underline;
}
.footer_logo_div{
    width:100%;
    background:#f1f0ed;
}
.footer_logos{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.find_us_div{
    margin-top:95px;
    width:1143px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-left:25px;
    padding-right:25px;
    margin-bottom:95px;
}
.footer_site_logo{
    height:111px;
    width:220px;
    margin-top:45px;
}
.find_left_div{
    width:220px;
    display:inline-block;
    margin-right:67px;
    vertical-align:top;
}
.find_right_div{
    display:inline-block;
    width:850px;
}
.footer_bottom_div{
    width:100%;
    background:#848585;
    padding-top:66px;
    padding-bottom:45px;
}
.footer_bottom_container{
    width:1143px;
    padding-left:25px;
    padding-right:25px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.footer_bottom_container a{
    color:white;
    text-decoration:none;
}
.footer_bottom_container a:hover{
    color:white;
    text-decoration:underline;
}
.today_hour_container{
    margin-right:145px;
    display:inline-block;
    color:white;
    vertical-align:top;
}
.newsletter_container{
    display:inline-block;
    color:white;
    vertical-align:top;
    margin-right:145px;
}
.bottom_social_container{
    display:inline-block;
    color:white;
    vertical-align:top;
}
.footer_icon{
    width:34px;
}
.bottom_social_container{}
.footer_title{
    margin-top:0;
    font-family:montserrat-regular;
    font-size:16px;
    text-transform:uppercase;
    margin-bottom:27px;
}

#fieldEmail{
    height:40px;
    width:330px;
    padding-left:20px;
    font-size:14px;
    background:#848585;
    border:1px solid white;
    margin-right:17px;
    margin-bottom:30px;
}
#news_submit{
    border:1px white solid;
    background:#848585;
    height:43px;
    color:white;
    width:100px;
    vertical-align:top;
}

.top_footer_text{
    font-family:lora-regular;
    color:#4d4d4f;
    font-size:16px;
}

.footer_h1{
    font-family:railway-regular;
    font-size:25pt;
    color:#4d4d4f;
    margin-top:0;
    margin-bottom:53px;
}
.footer_h2{
    font-family:montserrat-regular;
    font-size:16px;
    color:#4d4d4f;
    margin-top:0;
    margin-bottom:0;
}
.footer_text{
    margin:0;
    font-family:lora-regular;
}
.footer_last_container{
    font-family:lora-regular;
    color:#cfcdc4;
    text-align:center;
    background:#848585;
    font-size:7.5pt;
}
.main_image{
    position:relative;
}
/*home specific css*/
.missing_out_div{
    width:313px;
    height:63px;
    font-family:lora-regular;
    font-size:14px;
    color:white;
    background:#73b7aa;
    position:absolute;
    top:0;
    right:0;
}

.missing_out_div p {
    line-height:63px;
    text-align:center;
    margin:0;
    font-family:lora-regular;
    font-size:13pt;
    
}
#fear_caret{
    margin-left:35px;
}
.tab_container{
    display:block;
    position:relative;
}
.tabs li, .tab_content li {
    list-style:none;
    display:inline-block;
}
.tabs{
    padding:0;
    background:#73b7aa;
    width:1080px;
    position:relative;
    bottom:90px;
    margin-bottom:0;
    height:69px;
}
.tabs li {
    font-family:montserrat-regular;
    font-size:16px;
    width:360px;
    height:69px;
    margin-right:-4px;
}

.tab_item {
    color:white;
    border-right:1px solid white;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    text-transform:uppercase;
    height:50px;
    line-height:50px;
    pointer:cursor;
}
.last_tab_item {
    border:none !important;
}
.tab_content{
    padding:0;
    margin-bottom:0;
    margin-top:0px;
    position:relative;
    height:250px;
    
}
.tab_content li {
    margin-top:0px;
    width:100%;
}
.feature_slider_container{
    width:100%;
    
    position:absolute;
}
.flex-viewport{
   
}


.feature_promo{
    position:relative;
}
.feature_promo_date_div{
    position:relative;
    height:144px;
    width:144px;
    background:#57424b;
    display:inline-block;
    margin-left:5px;
    color:white;
    margin-left:20px;
}
.feature_promo_date_triangle{
    width: 0;
	height: 0;
	border-top: 30px solid white;
	border-left: 30px solid transparent;
	position:absolute;
	top:0;
	right:0;
}
.date_block{
    text-align:center;
    margin-top:30px;
}
.month_string{
    font-family:railway-regular;
    font-size:12pt;
    margin:0;
}
.day_string{
    font-family:railway-regular;
    font-size:40pt;
    margin:0;
}
.promo_description_div{
    display:inline-block;
    margin-left:40px;
    position:absolute;
    top:27px;
    width:805px;
}
.promo_title{
    font-family:railway-regular;
    color:#4d4d4f;
    font-size:20pt;
    text-decoration:none;
    text-transform:uppercase;
    margin-top:0;
    margin-bottom:27px;
}
.promo_description{
    font-family:lora-regular;
    font-size:11pt;
}
.feature_promo_left_div{
    display:inline;
}
.feature_promo_right_div{
    position:absolute;
    right:0;
    top:50%;
    
}
.read_more_btn{
    text-decoration:none;
    font-family:montserrat-regular;
    font-size:8pt;
    letter-spacing:2px;
    height:51px;
    width:145px;
    margin-right:20px;
    background:white;
    text-transform:uppercase;
    color:#4d4d4f;
    border:1px solid #808285;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: -40px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: -40px;
}
.feature_container{
    margin-left:30px;
    padding-right:20px;
}

.feature_image:nth-child(1){
    height:279px;
    width:579px;
}
.feature_image:nth-child(2), .feature_image:nth-child(4){
    height:277px;
    width:276px;
}
.feature_image:nth-child(3){
    height:561px;
    width:276px;
    float:right;
}

.feature_image:nth-child(5){
    height:277px;
    width:579px;
}
.socialize_div{
    padding-left:30px;
    padding-right:25px;
    height:20px;
}
.socialize_text{
    float:left;
    margin-top:99px;
    font-family:railway-regular;
    color:#4d4d4f;
    font-size:28pt;
    text-transform:uppercase;
    margin-bottom:61px;
}
.socialize_social_icons{
    float:right;
    margin-top:81px;
}
.social_icon{
    height:70px;
}
#insta_feed{
    margin-left:30px;
}
#banner_hours_container {
    position:absolute;
    top:440px;
    right:-20px;
    z-index:999999;
    opacity:0.9;
    border-radius:50%;
    width:140px;
    height:140px;
    background:#57424b;
    color:white;
    font-size:10pt;
    font-family:montserrat-regular;
    text-transform:uppercase;
    text-align:center;
}
#banner_hours_container p {
    margin:0;
}
#banner_hours_container a {
    text-decoration:none;
    color:white;
}
.hidden_newsletter_form{
    display:none;
    background:#73b7aa;
    padding:20px;
}
#banner_email{
    height:20px;
    width:60%;
    margin-right:10px;
    margin-bottom:15px;
    background:#848585;
    border:1px solid white;
    color:white;
}
#banner_submit{
    background:#848585;
    color:white;
    border:1px solid white;
    height:24px;
    width:85px;
}


/*stores css*/
.stores_div{
    display:none;
}
.cat_div{
    background:#f1f0ed;
}
.cat_stores_container{
    margin-top:61px;
}